body{
    background-color: gray;
}
#main3{
   
  margin: 190px 40% ;
  display: flex;

   
}


#restart{
    position:absolute;
    font-size:1.5rem;
    margin: 0px 500px;
}
#sec15,#sec30{
    font-size:2rem;
    margin:10px;
    border-radius: 10px;

}
#sec60,#sec120{
    font-size:2rem;
    margin:10px;
    border-radius: 10px;

}